.patient-item {
  display: flex;
  flex-direction: column;
  background: rgb(178, 178, 255);
  margin: 2rem 0;
  border-radius: 10px;
  align-content: center;
}
/* 
  background: blue;
  margin: 2rem 0;
  border-radius: 10px;
 */
